services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: camagru_backend
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    volumes:
      - .:/app
    depends_on:
      - db
    restart: unless-stopped

  database:
    image: postgres:16
    container_name: camagru_db
    env_file:
      - .env
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

    volumes:
      dbdata: